* {
  --hue: 10;
}

.h1 {
  font-size: 1.2rem;
  font-weight: 700;
}
.heading {
  color: hsl(0, 0%, 38%);
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
}
.heading:hover {
  color: hsl(0, 0%, 10%);
}
.heading a {
  color: inherit;
}

.selected {
  color: hsl(var(--hue), 70%, 60%);
}
.selected:hover {
  color: hsl(var(--hue), 100%, 60%);
}
.decorator {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
  border: none;
  text-align: center;
}
.nestedStack {
  display: flex;
}

.collapseLine {
  border: none;
  background: none;
  padding: 0;
  width: 1rem;
  margin-top: 0.5rem;
  position: relative;
  cursor: pointer;
  outline: none;
}
.collapseLine::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: hsl(var(--hue), 50%, 74%);
  transition: background-color 100ms ease-in-out;
}
.collapseLine:hover::before,
.collapseLine:focus-visible::before {
  background-color: hsl(var(--hue), 100%, 60%);
}
