.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page {
  flex-grow: 1;
}
.configuration {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.configuration > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.configuration input {
  text-align: center;
  font-size: 1rem;
  width: 4rem;
  height: 1rem;
  padding: 0.75rem 0.5rem;
}
