.appLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
}
.appBody {
  flex-grow: 1;
  margin: 0 auto;
  padding: 3rem 1rem;
  flex-basis: 0.1rem;
}
.wrapper {
  display: flex;
}
.aside {
  display: block;
  max-width: 300px;
  min-width: fit-content;
  width: 30%;
  padding-right: 1.5rem;
}
.main {
  flex-grow: 1;
  height: 100%;
}
