.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  align-items: stretch;
}
.card {
  background-color: #fff;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
}
.photo {
  width: 100%;
  margin-bottom: 1rem;
}
.title {
  font-size: 1.1rem;
  text-align: center;
}
